.modal{
  width: 400px;
  height: 400px;
  position: absolute;
  top:50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  border:1px solid #ccc;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: pink;
}

.modal .button{
  width: 100px;
  height: 20px;
  position: absolute;
  border: none;
  outline: none;
  bottom:20px;
  background:yellowgreen;
}

.modal .confirm-button{
  right: 140px;
}

.modal .cancel-button{
  right: 20px;
}

.modal .close-me{
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 10px;
  top:10px;
  background:red;
}